.CurrentUserContaint {
    display: flex;
    background-color: #A2D2FF;
    width: calc(100% / 3 - 20px);
    margin: 20px 20px;
    border-radius: 9px;
}

@media screen and (max-width: 1160px) {
    .CurrentUserContaint {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    .CurrentUserContainer {
        flex-direction: column;
    }
}
