.identityUser {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin: 20px 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.identityUser input, .identityUser button {
    width: 90%;
    padding: 12px 30px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.identityUser input[type=submit] {
    width: 90%;
    background-color: #7D1D3F;
    color: white;
    padding: 20px 20px;
    margin: 40px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.identityUser input[type=submit]:hover {
    background-color: #611731;
}
