.identityUser {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    margin: 20px 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.identityUser input, .identityUser button {
    width: 90%;
    padding: 12px 30px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.identityUser input[type=submit], .identityUser button {
    width: 90%;
    background-color: var(--purple);
    color: white;
    padding: 20px 20px;
    margin: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.identityUser input[type=submit]:hover, .identityUser button:hover {
    background-color: var(--purple);
}
