.userInfosDetail {
    display: flex;
    background-color: var(--blue);
    width: calc(100% / 3 - 20px);
    margin: 20px 20px;
    border-radius: 9px;
}

.identityUser {
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin: 20px 20px;
}

.identityUser input, .identityUser button {
    width: 90%;
    padding: 12px 30px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.identityUser input[type=submit] {
    width: 90%;
    background-color: var(--purple);
    color: white;
    padding: 20px 20px;
    margin: 40px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.identityUser input[type=submit]:hover {
    background-color: var(--purple);
}
