.main {
    display: block;
    width: 100%;
}

.CurrentUserContaint {
    width: 100%;
    background-color: var(--blue);
    width: calc(100% / 3 - 20px);
    margin: 10px auto;
    border-radius: 9px;
    justify-content: space-between;
}

@media screen and (max-width: 1160px) {
    .CurrentUserContaint {
        width: 80%;
        margin: 10px auto;
    }

    .CurrentUserContainer {
        flex-direction: column;
    }
}
