
#header {
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: #5C9EAD !important;
    top : 0;
    bottom: 0;
    left : 0;
    min-height: 25em;
    index: 1000;
}
nav {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logoText{
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgUser {
    width: 20vh;
    height: 20vh;
    border-radius: 60%;
    object-fit: cover;
}
.logoText p {
    font-size: 1.5em;
    color: #efeaea;
    font-weight: bold;
    margin-bottom: -10%;
}
.listLink {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
a {
    color: #efeaea;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;

}
.navLeftItem {
    background-color: #7D1D3F;
    border-radius: 6px;
    padding :0.5em;
    font-size: 0.7em;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.navLeftItem p {
    padding-left: 10px;
}
.deconnexion p {
    padding-left: 10px;
}
.deconnexion {
    background-color: #7D1D3F;
    color: #efeaea;
    border-radius: 6px;
    border : none;
    padding: 0.5em;
    font-size: 1.3em;
    width: 57%;
    height: 7%;
    margin-left: 11%;
    display: flex;
    align-items: center;
    justify-content: left;
}

