#navBar {
    position: fixed;
    width: 75%;
    right: 0;
    top: 0;
    background-color: #7D1D3F;
    color: #efeaea;
}

.navContain{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5em;
}
.navContain h2 {
    font-size: 2em;
    margin-left: 2em;
}