body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* color var */
  --purple: #7D1D3F;
  --blue: #A2D2FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  height: 100%;
}
#root{
  position: absolute;
  top : 0;
  bottom : 0;
  left: 0;
  right: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  right: 0;
  width: 70%;
  top : 10em;
  margin-top: 10em;
}
